#genetics {
  margin-top: 20px;
  padding: 100px 0px 0px 0px;
  position: relative;
  z-index: 9;
}

#genetics .section-heading h2 {
  padding-right: 120px;
}

#genetics img {
  width: 100%;
  overflow: hidden;
}

#genetics .left-text-content p {
  margin-bottom: 25px;
}

#genetics .right-content {
  margin-left: 30px;
}

#genetics .right-content .thumb {
  position: relative;
}

#genetics .right-content .thumb a {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  background-color: #65c145;
  color: #fff;
  border-radius: 50%;
  transform: translate(-35px, -35px);
  transition: all 0.3s;
}

#genetics .right-content .thumb a:hover {
  opacity: 0.9;
}
