<div id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-banner header-text">
                    <div class="Modern-Slider">
                      <div class="item">
                        <div class="img-fill">
                            <img src="assets/images/slide-01.jpg" alt="">
                        </div>
                      </div>
                      <div class="item">
                        <div class="img-fill">
                            <img src="assets/images/slide-02.jpg" alt="">
                        </div>
                      </div>
                      <div class="item">
                        <div class="img-fill">
                            <img src="assets/images/slide-03.jpg" alt="">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<about></about>
<history></history>
